In [12]:
import numpy as np
import pandas as pd
import requests

In [21]:
df = pd.read_csv('2025-01.csv')

In [14]:
df.head(10)

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_EstacionArribo,Fecha_Arribo,Hora_Arribo
0,M,26.0,5180930,568,31/12/2024,23:57:02,572,01/01/2025,00:00:03
1,F,54.0,3653953,283,31/12/2024,23:51:40,596,01/01/2025,00:00:41
2,M,38.0,7511322,034,31/12/2024,23:48:36,064,01/01/2025,00:00:59
3,M,41.0,3804572,258,31/12/2024,23:54:11,023,01/01/2025,00:01:08
4,M,35.0,3848405,043,31/12/2024,23:35:28,126,01/01/2025,00:01:17
5,M,24.0,7579436,222,31/12/2024,23:34:33,483,01/01/2025,00:01:58
6,M,31.0,7161920,034,31/12/2024,23:25:47,688,01/01/2025,00:02:16
7,M,22.0,7220593,254,31/12/2024,23:50:20,539,01/01/2025,00:02:41
8,M,29.0,4031258,560,31/12/2024,23:52:11,120,01/01/2025,00:03:28
9,F,24.0,6463376,560,31/12/2024,23:51:50,120,01/01/2025,00:03:31

In [15]:
print("El número total de registros es:",len(df))

El número total de registros es: 1809775

In [16]:
print("Tamaño del dataset")
print(df.shape)

Tamaño del dataset
(1809775, 9)

In [17]:
df.isnull().sum()

Genero_Usuario             1
Edad_Usuario             147
Bici                       0
Ciclo_Estacion_Retiro      0
Fecha_Retiro               0
Hora_Retiro                0
Ciclo_EstacionArribo       0
Fecha_Arribo               0
Hora_Arribo                0
dtype: int64

In [18]:
df['Fecha_Retiro'] = pd.to_datetime(df['Fecha_Retiro'])
df['Fecha_Arribo'] = pd.to_datetime(df['Fecha_Arribo'])

C:\Users\luisn\AppData\Local\Temp\ipykernel_6872\1078579547.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Fecha_Retiro'] = pd.to_datetime(df['Fecha_Retiro'])

ValueError: time data "13/01/2025" doesn't match format "%m/%d/%Y", at position 12. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [19]:
df['Fecha_Retiro'] = pd.to_datetime(df['Fecha_Retiro']).astype(str)

In [9]:
df['Fecha_Retiro'] = df['Fecha_Retiro'].dt.strftime('%d/%m/%Y')
df['Fecha_Arribo'] = df['Fecha_Arribo'].dt.strftime('%d/%m/%Y')
df['Fecha_Retiro'] = pd.to_datetime(df['Fecha_Retiro']).dt.strftime('%d/%m/%Y')
df['Fecha_Arribo'] = pd.to_datetime(df['Fecha_Arribo']).dt.strftime('%d/%m/%Y')

# Formatear como dd/mm/yyyy (string)

C:\Users\luisn\AppData\Local\Temp\ipykernel_6872\2355401934.py:1: UserWarning: Parsing dates in %d/%m/%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Fecha_Hora_Retiro'] = pd.to_datetime(df['Fecha_Hora_Retiro'])

ValueError: time data "13/01/2025 00:00:01" doesn't match format "%m/%d/%Y %H:%M:%S", at position 578254. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
df['duracion'] = df['Fecha_Hora_Arribo'] - df['Fecha_Hora_Retiro']

In [ ]:
#es mas recomendable usar la mediana y no la media
df_copy['Edad_Usuario'] = df_copy['Edad_Usuario'].transform(lambda x: x.fillna(x.median()))

In [ ]:
df_copy = df

In [ ]:
df_copy.isnull().sum()

In [ ]:
#alternativa
df_genero = pd.get_dummies(df_copy[['Genero_Usuario']])

In [ ]:
df = pd.get_dummies(df, columns=['Genero_Usuario'], prefix=['Genero_Usuario'])

In [ ]:
df.head()

In [ ]:
dias_con_mas_retiros = df.groupby(df['Fecha_Retiro'].dt.date).size().reset_index(name='Count')

In [ ]:
df.dtypes

In [ ]:
dias_con_mas_retiros

In [ ]:
#label encoding
#assings integers (red=1, blue=2, green=3)
#crea una importancia no real
#mejor one-hot-encoding

In [ ]:
df.head()

In [22]:
df2 = df

In [23]:
df2.dtypes

Genero_Usuario            object
Edad_Usuario             float64
Bici                       int64
Ciclo_Estacion_Retiro     object
Fecha_Retiro              object
Hora_Retiro               object
Ciclo_EstacionArribo      object
Fecha_Arribo              object
Hora_Arribo               object
dtype: object

In [24]:
df2['Hora_Retiro'] = df2['Hora_Retiro'].astype(str)
df2['Hora_Arribo'] = df2['Hora_Arribo'].astype(str)
df2['Fecha_Retiro'] = df2['Fecha_Retiro'].astype(str)
df2['Fecha_Arribo'] = df2['Fecha_Arribo'].astype(str)

In [25]:
df2.dtypes

Genero_Usuario            object
Edad_Usuario             float64
Bici                       int64
Ciclo_Estacion_Retiro     object
Fecha_Retiro              object
Hora_Retiro               object
Ciclo_EstacionArribo      object
Fecha_Arribo              object
Hora_Arribo               object
dtype: object

In [26]:
df2['Fecha_Hora_Retiro'] =  df2['Fecha_Retiro'] + ' ' + df2['Hora_Retiro']
df2['Fecha_Hora_Arribo'] =  df2['Fecha_Arribo'] + ' ' + df2['Hora_Arribo']

In [27]:
df2.head()

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_EstacionArribo,Fecha_Arribo,Hora_Arribo,Fecha_Hora_Retiro,Fecha_Hora_Arribo
0,M,26.0,5180930,568,31/12/2024,23:57:02,572,01/01/2025,00:00:03,31/12/2024 23:57:02,01/01/2025 00:00:03
1,F,54.0,3653953,283,31/12/2024,23:51:40,596,01/01/2025,00:00:41,31/12/2024 23:51:40,01/01/2025 00:00:41
2,M,38.0,7511322,034,31/12/2024,23:48:36,064,01/01/2025,00:00:59,31/12/2024 23:48:36,01/01/2025 00:00:59
3,M,41.0,3804572,258,31/12/2024,23:54:11,023,01/01/2025,00:01:08,31/12/2024 23:54:11,01/01/2025 00:01:08
4,M,35.0,3848405,043,31/12/2024,23:35:28,126,01/01/2025,00:01:17,31/12/2024 23:35:28,01/01/2025 00:01:17

In [32]:
df['Fecha_Hora_Retiro'] = pd.to_datetime(df['Fecha_Hora_Retiro'],dayfirst=True)
df['Fecha_Hora_Arribo'] = pd.to_datetime(df['Fecha_Hora_Arribo'],dayfirst=True)

In [33]:
df2.dtypes

Genero_Usuario                   object
Edad_Usuario                    float64
Bici                              int64
Ciclo_Estacion_Retiro            object
Fecha_Retiro                     object
Hora_Retiro                      object
Ciclo_EstacionArribo             object
Fecha_Arribo                     object
Hora_Arribo                      object
Fecha_Hora_Retiro        datetime64[ns]
Fecha_Hora_Arribo        datetime64[ns]
dtype: object

In [34]:
df.head()

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_EstacionArribo,Fecha_Arribo,Hora_Arribo,Fecha_Hora_Retiro,Fecha_Hora_Arribo
0,M,26.0,5180930,568,31/12/2024,23:57:02,572,01/01/2025,00:00:03,2024-12-31 23:57:02,2025-01-01 00:00:03
1,F,54.0,3653953,283,31/12/2024,23:51:40,596,01/01/2025,00:00:41,2024-12-31 23:51:40,2025-01-01 00:00:41
2,M,38.0,7511322,034,31/12/2024,23:48:36,064,01/01/2025,00:00:59,2024-12-31 23:48:36,2025-01-01 00:00:59
3,M,41.0,3804572,258,31/12/2024,23:54:11,023,01/01/2025,00:01:08,2024-12-31 23:54:11,2025-01-01 00:01:08
4,M,35.0,3848405,043,31/12/2024,23:35:28,126,01/01/2025,00:01:17,2024-12-31 23:35:28,2025-01-01 00:01:17

In [35]:
df2['duracion'] = df2['Fecha_Hora_Arribo'] - df2['Fecha_Hora_Retiro']

In [36]:
df2

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_EstacionArribo,Fecha_Arribo,Hora_Arribo,Fecha_Hora_Retiro,Fecha_Hora_Arribo,duracion
0,M,26.0,5180930,568,31/12/2024,23:57:02,572,01/01/2025,00:00:03,2024-12-31 23:57:02,2025-01-01 00:00:03,0 days 00:03:01
1,F,54.0,3653953,283,31/12/2024,23:51:40,596,01/01/2025,00:00:41,2024-12-31 23:51:40,2025-01-01 00:00:41,0 days 00:09:01
2,M,38.0,7511322,034,31/12/2024,23:48:36,064,01/01/2025,00:00:59,2024-12-31 23:48:36,2025-01-01 00:00:59,0 days 00:12:23
3,M,41.0,3804572,258,31/12/2024,23:54:11,023,01/01/2025,00:01:08,2024-12-31 23:54:11,2025-01-01 00:01:08,0 days 00:06:57
4,M,35.0,3848405,043,31/12/2024,23:35:28,126,01/01/2025,00:01:17,2024-12-31 23:35:28,2025-01-01 00:01:17,0 days 00:25:49
...,...,...,...,...,...,...,...,...,...,...,...,...
1809770,F,31.0,5553995,056,31/01/2025,23:49:11,123,31/01/2025,23:59:35,2025-01-31 23:49:11,2025-01-31 23:59:35,0 days 00:10:24
1809771,M,25.0,4755062,277,31/01/2025,23:48:50,181,31/01/2025,23:59:45,2025-01-31 23:48:50,2025-01-31 23:59:45,0 days 00:10:55
1809772,M,46.0,8342438,396,31/01/2025,23:38:01,604,31/01/2025,23:59:47,2025-01-31 23:38:01,2025-01-31 23:59:47,0 days 00:21:46
1809773,F,30.0,4259339,310,31/01/2025,23:45:32,084,31/01/2025,23:59:49,2025-01-31 23:45:32,2025-01-31 23:59:49,0 days 00:14:17
1809774,F,48.0,6513600,049,31/01/2025,23:49:56,025,31/01/2025,23:59:57,2025-01-31 23:49:56,2025-01-31 23:59:57,0 days 00:10:01

In [37]:
#Crear categoria  "Viaje corto, entre semana o fin de semana"