In [1]:
import numpy as np
import pandas as pd
import requests
from io import StringIO

In [ ]:
#Usar requests
response = requests.get("https://ecobici.cdmx.gob.mx/wp-content/uploads/2025/02/2025-01.csv")
df = pd.read_csv(StringIO(response.text))

In [2]:
##leerdirectamente desde URL
#df = pd.read_csv("https://ecobici.cdmx.gob.mx/wp-content/uploads/2025/02/2025-01.csv")
df = pd.read_csv('2025-01.csv')

In [3]:
df.head(10)

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_EstacionArribo,Fecha_Arribo,Hora_Arribo
0,M,26.0,5180930,568,31/12/2024,23:57:02,572,01/01/2025,00:00:03
1,F,54.0,3653953,283,31/12/2024,23:51:40,596,01/01/2025,00:00:41
2,M,38.0,7511322,034,31/12/2024,23:48:36,064,01/01/2025,00:00:59
3,M,41.0,3804572,258,31/12/2024,23:54:11,023,01/01/2025,00:01:08
4,M,35.0,3848405,043,31/12/2024,23:35:28,126,01/01/2025,00:01:17
5,M,24.0,7579436,222,31/12/2024,23:34:33,483,01/01/2025,00:01:58
6,M,31.0,7161920,034,31/12/2024,23:25:47,688,01/01/2025,00:02:16
7,M,22.0,7220593,254,31/12/2024,23:50:20,539,01/01/2025,00:02:41
8,M,29.0,4031258,560,31/12/2024,23:52:11,120,01/01/2025,00:03:28
9,F,24.0,6463376,560,31/12/2024,23:51:50,120,01/01/2025,00:03:31

In [4]:
print("El número total de registros es:",len(df))

El número total de registros es: 1809775

In [5]:
print("Tamaño del dataset")
print(df.shape)

Tamaño del dataset
(1809775, 9)

In [6]:
df.isnull().sum()

Genero_Usuario             1
Edad_Usuario             147
Bici                       0
Ciclo_Estacion_Retiro      0
Fecha_Retiro               0
Hora_Retiro                0
Ciclo_EstacionArribo       0
Fecha_Arribo               0
Hora_Arribo                0
dtype: int64

In [7]:
df['Hora_Retiro'] = df['Hora_Retiro'].astype(str)
df['Hora_Arribo'] = df['Hora_Arribo'].astype(str)
df['Fecha_Retiro'] = df['Fecha_Retiro'].astype(str)
df['Fecha_Arribo'] = df['Fecha_Arribo'].astype(str)

In [8]:
df.dtypes

Genero_Usuario            object
Edad_Usuario             float64
Bici                       int64
Ciclo_Estacion_Retiro     object
Fecha_Retiro              object
Hora_Retiro               object
Ciclo_EstacionArribo      object
Fecha_Arribo              object
Hora_Arribo               object
dtype: object

In [9]:
df['Fecha_Hora_Retiro'] =  df['Fecha_Retiro'] + ' ' + df['Hora_Retiro']
df['Fecha_Hora_Arribo'] =  df['Fecha_Arribo'] + ' ' + df['Hora_Arribo']

In [10]:
df.head()

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_EstacionArribo,Fecha_Arribo,Hora_Arribo,Fecha_Hora_Retiro,Fecha_Hora_Arribo
0,M,26.0,5180930,568,31/12/2024,23:57:02,572,01/01/2025,00:00:03,31/12/2024 23:57:02,01/01/2025 00:00:03
1,F,54.0,3653953,283,31/12/2024,23:51:40,596,01/01/2025,00:00:41,31/12/2024 23:51:40,01/01/2025 00:00:41
2,M,38.0,7511322,034,31/12/2024,23:48:36,064,01/01/2025,00:00:59,31/12/2024 23:48:36,01/01/2025 00:00:59
3,M,41.0,3804572,258,31/12/2024,23:54:11,023,01/01/2025,00:01:08,31/12/2024 23:54:11,01/01/2025 00:01:08
4,M,35.0,3848405,043,31/12/2024,23:35:28,126,01/01/2025,00:01:17,31/12/2024 23:35:28,01/01/2025 00:01:17

In [11]:
df['Fecha_Hora_Retiro'] = pd.to_datetime(df['Fecha_Hora_Retiro'],dayfirst=True)
df['Fecha_Hora_Arribo'] = pd.to_datetime(df['Fecha_Hora_Arribo'],dayfirst=True)

In [12]:
df.dtypes

Genero_Usuario                   object
Edad_Usuario                    float64
Bici                              int64
Ciclo_Estacion_Retiro            object
Fecha_Retiro                     object
Hora_Retiro                      object
Ciclo_EstacionArribo             object
Fecha_Arribo                     object
Hora_Arribo                      object
Fecha_Hora_Retiro        datetime64[ns]
Fecha_Hora_Arribo        datetime64[ns]
dtype: object

In [13]:
df['duracion'] = df['Fecha_Hora_Arribo'] - df['Fecha_Hora_Retiro']

In [14]:
#es mas recomendable usar la mediana y no la media
df['Edad_Usuario'] = df['Edad_Usuario'].transform(lambda x: x.fillna(x.median()))

In [15]:
df = pd.get_dummies(df, columns=['Genero_Usuario'], prefix=['Genero_Usuario'])

In [16]:
df.head()

,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_EstacionArribo,Fecha_Arribo,Hora_Arribo,Fecha_Hora_Retiro,Fecha_Hora_Arribo,duracion,Genero_Usuario_?,Genero_Usuario_F,Genero_Usuario_M,Genero_Usuario_O
0,26.0,5180930,568,31/12/2024,23:57:02,572,01/01/2025,00:00:03,2024-12-31 23:57:02,2025-01-01 00:00:03,0 days 00:03:01,False,False,True,False
1,54.0,3653953,283,31/12/2024,23:51:40,596,01/01/2025,00:00:41,2024-12-31 23:51:40,2025-01-01 00:00:41,0 days 00:09:01,False,True,False,False
2,38.0,7511322,034,31/12/2024,23:48:36,064,01/01/2025,00:00:59,2024-12-31 23:48:36,2025-01-01 00:00:59,0 days 00:12:23,False,False,True,False
3,41.0,3804572,258,31/12/2024,23:54:11,023,01/01/2025,00:01:08,2024-12-31 23:54:11,2025-01-01 00:01:08,0 days 00:06:57,False,False,True,False
4,35.0,3848405,043,31/12/2024,23:35:28,126,01/01/2025,00:01:17,2024-12-31 23:35:28,2025-01-01 00:01:17,0 days 00:25:49,False,False,True,False

In [17]:
#alternativa en otro dataframe
#df_genero = pd.get_dummies(df_copy[['Genero_Usuario']])

In [18]:
df.dtypes

Edad_Usuario                     float64
Bici                               int64
Ciclo_Estacion_Retiro             object
Fecha_Retiro                      object
Hora_Retiro                       object
Ciclo_EstacionArribo              object
Fecha_Arribo                      object
Hora_Arribo                       object
Fecha_Hora_Retiro         datetime64[ns]
Fecha_Hora_Arribo         datetime64[ns]
duracion                 timedelta64[ns]
Genero_Usuario_?                    bool
Genero_Usuario_F                    bool
Genero_Usuario_M                    bool
Genero_Usuario_O                    bool
dtype: object

In [19]:
df['Fecha_Retiro'] = pd.to_datetime(df['Fecha_Retiro'],dayfirst=True)
df['Fecha_Arribo'] = pd.to_datetime(df['Fecha_Arribo'],dayfirst=True)

In [20]:
df1 = df['Fecha_Retiro'].dt.date.value_counts().sort_index().reset_index()
df1.columns = ['Fecha_Retiro','Count']
df1.head(10)

  Fecha_Retiro  Count
0   2023-02-04      1
1   2024-08-10      1
2   2024-11-25      1
3   2024-12-18      1
4   2024-12-23      1
5   2024-12-28      1
6   2024-12-29      1
7   2024-12-31    102
8   2025-01-01  16643
9   2025-01-02  45177

In [ ]:
#label encoding
#assings integers (red=1, blue=2, green=3)
#crea una importancia no real
#mejor one-hot-encoding

In [21]:
#Crear categoria  "Viaje corto, entre semana o fin de semana"
from datetime import timedelta
def trip_duration(duration):
    if duration <= timedelta(minutes=10):
        return "Viaje corto"
    elif duration > timedelta(minutes=10) and duration <= timedelta(minutes=45):
        return "Viaje regular"
    elif duration > timedelta(minutes=45):
        return "Viaje largo"

In [22]:
df['tipo_viaje'] = df['duracion'].apply(trip_duration)

In [23]:
df['tipo_viaje'].value_counts()

tipo_viaje
Viaje regular    1041519
Viaje corto       745545
Viaje largo        22711
Name: count, dtype: int64

In [24]:
df.dtypes

Edad_Usuario                     float64
Bici                               int64
Ciclo_Estacion_Retiro             object
Fecha_Retiro              datetime64[ns]
Hora_Retiro                       object
Ciclo_EstacionArribo              object
Fecha_Arribo              datetime64[ns]
Hora_Arribo                       object
Fecha_Hora_Retiro         datetime64[ns]
Fecha_Hora_Arribo         datetime64[ns]
duracion                 timedelta64[ns]
Genero_Usuario_?                    bool
Genero_Usuario_F                    bool
Genero_Usuario_M                    bool
Genero_Usuario_O                    bool
tipo_viaje                        object
dtype: object

In [25]:
#Get date from date
df['DiaSemana'] = df['Fecha_Hora_Retiro'].dt.day_name() # or .dt.weekday
df.head()

,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_EstacionArribo,Fecha_Arribo,Hora_Arribo,Fecha_Hora_Retiro,Fecha_Hora_Arribo,duracion,Genero_Usuario_?,Genero_Usuario_F,Genero_Usuario_M,Genero_Usuario_O,tipo_viaje,DiaSemana
0,26.0,5180930,568,2024-12-31,23:57:02,572,2025-01-01,00:00:03,2024-12-31 23:57:02,2025-01-01 00:00:03,0 days 00:03:01,False,False,True,False,Viaje corto,Tuesday
1,54.0,3653953,283,2024-12-31,23:51:40,596,2025-01-01,00:00:41,2024-12-31 23:51:40,2025-01-01 00:00:41,0 days 00:09:01,False,True,False,False,Viaje corto,Tuesday
2,38.0,7511322,034,2024-12-31,23:48:36,064,2025-01-01,00:00:59,2024-12-31 23:48:36,2025-01-01 00:00:59,0 days 00:12:23,False,False,True,False,Viaje regular,Tuesday
3,41.0,3804572,258,2024-12-31,23:54:11,023,2025-01-01,00:01:08,2024-12-31 23:54:11,2025-01-01 00:01:08,0 days 00:06:57,False,False,True,False,Viaje corto,Tuesday
4,35.0,3848405,043,2024-12-31,23:35:28,126,2025-01-01,00:01:17,2024-12-31 23:35:28,2025-01-01 00:01:17,0 days 00:25:49,False,False,True,False,Viaje regular,Tuesday

In [26]:
df['DiaSemana'].value_counts()

DiaSemana
Thursday     329464
Friday       314452
Wednesday    302019
Tuesday      279037
Monday       261368
Saturday     164370
Sunday       159065
Name: count, dtype: int64

In [27]:
print("Tamaño del dataset")
print(df.shape)

Tamaño del dataset
(1809775, 17)