In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

Helpers

1.Funcion Prioridad<br>
2.Funcion que ayuda a extrar las edades faltantes en base a los titulos de la persona<br>
3. Función de Extracción de Deck/Cubierta<br>
4. Función de Puerto de Embarque Inteligente<br>
5. Cabina<br>

In [3]:
#Función que crea prioridad según la edad, el sexo y la clase de la persona
def priorityFunction(row):
    if row['Age']<=5: #Niños pequeños primera clase
        return 1
    elif row['Age']>5 and row['Age'] <=15: #niños/adol primera clase
        return 2
    elif row['Sex'] == 'female' and row['Pclass'] <= 2: #Mujeres primera clase
        return 3
    elif row['Sex'] == 'female' and row['Pclass'] > 2: #Mujeres 3era clase
        return 4
    elif row['Sex'] == 'male' and row['Age'] > 15: #Hombres
        return 5
    elif row['Sex'] == 'male': #Hombres
        return 5

In [38]:
def Get_Title(Name):
    military = ['Capt','Col','Major']
    nobility = ['Sir','Lady','Countess','Don','Dona','Jonkheer','Lord','Baron','Duke','Earl']
    military_nobility = military + nobility
    if 'Master' in Name:
        return 1
    elif 'Miss' in Name or 'Mrs' in Name:
        return 2
    elif 'Mr' in Name:
        return 3
    elif 'Dr' in Name or 'Rev' in Name:
        return 4
    elif any(title in Name for title in military_nobility):
        return 5
    else: return 6

In [131]:
df = pd.read_csv("/kaggle/input/titanic/train.csv")

In [132]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [255]:
df['Parch'].value_counts()

Parch
0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: count, dtype: int64

In [256]:
df['SibSp'].value_counts()

SibSp
0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: count, dtype: int64

In [134]:
len(df)

891

In [276]:
new_df = df[['Survived','Pclass','Age','Sex','Name','Fare']]
new_df['Priority'] = new_df.apply(priorityFunction, axis=1)
new_df["Title"] = new_df['Name'].apply(lambda x: Get_Title(x))

/tmp/ipykernel_36/190085966.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Priority'] = new_df.apply(priorityFunction, axis=1)
/tmp/ipykernel_36/190085966.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["Title"] = new_df['Name'].apply(lambda x: Get_Title(x))

In [277]:
new_df

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Survived,Pclass,Age,Sex,Name,Fare,Priority,Title
0,0,3,22.0,male,"Braund, Mr. Owen Harris",7.2500,5,3
1,1,1,38.0,female,"Cumings, Mrs. John Bradley (Florence Briggs Th...",71.2833,3,2
2,1,3,26.0,female,"Heikkinen, Miss. Laina",7.9250,4,2
3,1,1,35.0,female,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",53.1000,3,2
4,0,3,35.0,male,"Allen, Mr. William Henry",8.0500,5,3
...,...,...,...,...,...,...,...,...
886,0,2,27.0,male,"Montvila, Rev. Juozas",13.0000,5,4
887,1,1,19.0,female,"Graham, Miss. Margaret Edith",30.0000,3,2
888,0,3,NaN,female,"Johnston, Miss. Catherine Helen ""Carrie""",23.4500,4,2
889,1,1,26.0,male,"Behr, Mr. Karl Howell",30.0000,5,3
890,0,3,32.0,male,"Dooley, Mr. Patrick",7.7500,5,3

In [278]:
df_y = new_df[['Survived']]

In [279]:
df_y

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [280]:
df_x = new_df[['Pclass','Age','Sex','Priority','Title','Fare']]
df_x

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

     Pclass   Age     Sex  Priority  Title     Fare
0         3  22.0    male         5      3   7.2500
1         1  38.0  female         3      2  71.2833
2         3  26.0  female         4      2   7.9250
3         1  35.0  female         3      2  53.1000
4         3  35.0    male         5      3   8.0500
..      ...   ...     ...       ...    ...      ...
886       2  27.0    male         5      4  13.0000
887       1  19.0  female         3      2  30.0000
888       3   NaN  female         4      2  23.4500
889       1  26.0    male         5      3  30.0000
890       3  32.0    male         5      3   7.7500

[891 rows x 6 columns]

In [281]:
df_x = pd.get_dummies(df_x)
df_x['Age'] = df_x.groupby('Pclass')['Age'].transform(lambda x: x.fillna(x.mean()))

In [282]:
df_x

     Pclass       Age  Priority  Title     Fare  Sex_female  Sex_male
0         3  22.00000         5      3   7.2500       False      True
1         1  38.00000         3      2  71.2833        True     False
2         3  26.00000         4      2   7.9250        True     False
3         1  35.00000         3      2  53.1000        True     False
4         3  35.00000         5      3   8.0500       False      True
..      ...       ...       ...    ...      ...         ...       ...
886       2  27.00000         5      4  13.0000       False      True
887       1  19.00000         3      2  30.0000        True     False
888       3  25.14062         4      2  23.4500        True     False
889       1  26.00000         5      3  30.0000       False      True
890       3  32.00000         5      3   7.7500       False      True

[891 rows x 7 columns]

In [283]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score
import pandas as pd
import numpy as np

In [231]:
#No usar
X_train, X_val, y_train, y_val = train_test_split(
    df_x, df_y, test_size=0.2, random_state=42
)

In [284]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(df_x)

In [285]:
y_train = df_y.values.ravel()

In [286]:
model = LogisticRegression()
model.fit(X_train_scaled, y_train)

LogisticRegression()

In [287]:
#submission

In [288]:
df_test = pd.read_csv("/kaggle/input/titanic/test.csv")

In [289]:
df_test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [290]:
new_df_test = df_test[['Pclass','Age','Sex','Name','Fare']]
new_df_test['Priority'] = new_df_test.apply(priorityFunction, axis=1)
new_df_test["Title"] = new_df_test['Name'].apply(lambda x: Get_Title(x))
new_df_test = new_df_test[['Pclass','Age','Sex','Priority','Title','Fare']]
new_df_test = pd.get_dummies(new_df_test)
new_df_test['Fare'] = new_df_test['Fare'].fillna(new_df_test['Fare'].mean())
new_df_test['Age'] = new_df_test.groupby('Pclass')['Age'].transform(lambda x: x.fillna(x.mean()))
new_df_test

/tmp/ipykernel_36/4156660181.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_test['Priority'] = new_df_test.apply(priorityFunction, axis=1)
/tmp/ipykernel_36/4156660181.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_test["Title"] = new_df_test['Name'].apply(lambda x: Get_Title(x))

     Pclass        Age  Priority  Title      Fare  Sex_female  Sex_male
0         3  34.500000         5      3    7.8292       False      True
1         3  47.000000         4      2    7.0000        True     False
2         2  62.000000         5      3    9.6875       False      True
3         3  27.000000         5      3    8.6625       False      True
4         3  22.000000         4      2   12.2875        True     False
..      ...        ...       ...    ...       ...         ...       ...
413       3  24.027945         5      3    8.0500       False      True
414       1  39.000000         3      5  108.9000        True     False
415       3  38.500000         5      3    7.2500       False      True
416       3  24.027945         5      3    8.0500       False      True
417       3  24.027945         5      1   22.3583       False      True

[418 rows x 7 columns]

In [291]:
new_df_test.isnull().sum()

Pclass        0
Age           0
Priority      0
Title         0
Fare          0
Sex_female    0
Sex_male      0
dtype: int64

In [292]:
from sklearn.preprocessing import StandardScaler
X_test_scaled = scaler.transform(new_df_test)

In [293]:
# Usa tu modelo ya entrenado (ej.: XGBoost, LogisticRegression)
y_test_pred = model.predict(X_test_scaled)  # Predice 0 (No sobrevivió) o 1 (Sobrevivió)

In [295]:
# Crear DataFrame de submission
submission = pd.DataFrame({
    "PassengerId": df_test["PassengerId"],  # IDs originales de test.csv
    "Survived": y_test_pred  # Tus predicciones
})

# Guardar como CSV (sin índice)
submission.to_csv("titanic_submission7.csv", index=False)

In [95]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(class_weight="balanced")
rf.fit(X_train_scaled, y_train)
print("Matriz de Confusión:\n", confusion_matrix(y_val, y_pred))
print(classification_report(y_val, rf.predict(X_val_scaled)))

Matriz de Confusión:
 [[88 17]
 [20 54]]
              precision    recall  f1-score   support

           0       0.82      0.84      0.83       105
           1       0.76      0.74      0.75        74

    accuracy                           0.80       179
   macro avg       0.79      0.79      0.79       179
weighted avg       0.80      0.80      0.80       179

Graficas

In [ ]:
df[['Pclass']]

In [52]:
classTitanic = pd.get_dummies(df[['Pclass']])

In [ ]:
counts = df['Pclass'].value_counts().sort_index()

plt.figure(figsize=(8, 5))
plt.bar(counts.index, counts.values, color="red")
plt.xlabel('Clase')
plt.ylabel('Frecuencia')
plt.title('Distribución de valores')
plt.xticks([1, 2, 3]) 
plt.show()

In [ ]:
dfSurvived = df[['Survived','Pclass']]

In [ ]:
df_survivors = dfSurvived[dfSurvived['Survived'] == 1]

In [ ]:
df_survivors

In [ ]:
counts = df_survivors['Pclass'].value_counts().sort_index()

plt.figure(figsize=(8, 5))
plt.bar(counts.index, counts.values)
plt.xlabel('Clase')
plt.ylabel('Frecuencia')
plt.title('Distribución de valores')
plt.xticks([1, 2, 3]) 
plt.show()

In [ ]:
import numpy as np

# Datos
counts_all = df['Pclass'].value_counts().sort_index()
counts_survivors = df_survivors['Pclass'].value_counts().sort_index()

# Configurar posiciones
x = np.arange(len(counts_all))  # [0, 1, 2]
width = 0.35

plt.figure(figsize=(10, 6))
plt.bar(x - width/2, counts_all.values, width, label='Total', color='red', alpha=0.7)
plt.bar(x + width/2, counts_survivors.values, width, label='Sobrevivientes', color='blue', alpha=0.7)

plt.xlabel('Clase')
plt.ylabel('Frecuencia')
plt.title('Total vs Sobrevivientes')
plt.xticks(x, [1, 2, 3])
plt.legend()
plt.show()

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

# Filtrar solo hombres
df_male = df[(df['Sex'] == 'male') & (df['Age'] < 15)]
df_survivors_male = df[(df['Sex'] == 'male') & (df['Age'] < 15) & (df['Survived'] == 1)]

# Contar hombres por clase (Pclass)
counts_all = df_male['Pclass'].value_counts().sort_index()
counts_survivors = df_survivors_male['Pclass'].value_counts().sort_index()

# Asegurar que las clases estén en el mismo orden
classes = sorted(df['Pclass'].unique())
x = np.arange(len(classes))
width = 0.35

# Reindexar para asegurarse que haya valores en todas las clases (incluso si alguno es 0)
counts_all = counts_all.reindex(classes, fill_value=0)
counts_survivors = counts_survivors.reindex(classes, fill_value=0)

# Graficar
plt.figure(figsize=(10, 6))
plt.bar(x - width/2, counts_all.values, width, label='Total', color='red', alpha=0.7)
plt.bar(x + width/2, counts_survivors.values, width, label='Sobrevivientes', color='blue', alpha=0.7)

plt.xlabel('Clase')
plt.ylabel('Cantidad de hombres')
plt.title('Total de hombres vs Sobrevivientes por clase')
plt.xticks(x, classes)
plt.legend()
plt.tight_layout()
plt.show()

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

# Parámetros
sexos = ['male', 'female']
edades = ['<15', '15-30', '30-50', '50+']

for sexo in sexos:
    for edad_cond in edades:
        # Condiciones de filtrado
        if edad_cond == '<15':
            df_filtered = df[(df['Sex'] == sexo) & (df['Age'] < 15)]
            edad_label = 'menores de 15'
        elif edad_cond == '15-30':
            df_filtered = df[(df['Sex'] == sexo) & (df['Age'] >= 15) & (df['Age'] < 30)]
            edad_label = 'de 15 a 30 años'
        elif edad_cond == '30-50':
            df_filtered = df[(df['Sex'] == sexo) & (df['Age'] >= 30) & (df['Age'] < 50)]
            edad_label = 'de 30 a 50 años'
        else:  # '50+'
            df_filtered = df[(df['Sex'] == sexo) & (df['Age'] >= 50)]
            edad_label = 'mayores de 50'
            
        df_survivors = df_filtered[df_filtered['Survived'] == 1]
        
        # Contar por clase
        counts_all = df_filtered['Pclass'].value_counts().sort_index()
        counts_survivors = df_survivors['Pclass'].value_counts().sort_index()
        
        # Clases ordenadas y reindexadas
        classes = sorted(df['Pclass'].unique())
        counts_all = counts_all.reindex(classes, fill_value=0)
        counts_survivors = counts_survivors.reindex(classes, fill_value=0)
        
        x = np.arange(len(classes))
        width = 0.35
        
        # Graficar
        plt.figure(figsize=(10, 6))
        plt.bar(x - width/2, counts_all.values, width, label='Total', color='red', alpha=0.7)
        plt.bar(x + width/2, counts_survivors.values, width, label='Sobrevivientes', color='blue', alpha=0.7)
        
        plt.xlabel('Clase')
        plt.ylabel(f'Cantidad de {sexo}')
        plt.title(f'{sexo.capitalize()}s {edad_label}: Total vs Sobrevivientes por clase')
        plt.xticks(x, classes)
        plt.legend()
        plt.tight_layout()
        plt.show()

In [ ]:
#Función que crea prioridad según la edad, el sexo y la clase de la persona
def priorityFunction(row):
    if row['Age']<=5 and row['Pclass'] == 1: #Niños pequeños primera clase
        return 1

In [ ]:
df.head()

In [ ]:
df[["Name"]]

In [36]:
df["Title"] = df['Name'].apply(lambda x: Get_Title(x))

In [37]:
df['Title'].isnull().sum()

0